	<% flash.now[:success] = "Signup Success welcome to Grademypitch!" %>
    
	<p></p>
	<p></p>
	<h2>Getting started in 3 Steps</h2>
	<p></p>

		<h3>Step 1: Your Grademypitch address is</h3>
		<p></p>
		<h2>
			www.grademypitch.com<%= user_path(@user) %>
		</h2><br />
		<p></p>
				
		<h3>Step 2: Using your Grademypitch address</h3>
		<p>Copy and paste your address into your pitches.<br />
			We recommend putting the address at the bottom of your pitch and including some text<br /> 
			around it as seen in my own pitch below for grademypitch.com:
		</p>
		<p></p>
		<p></p>

		<div class="news-date">
			<span class="month">Sample Pitch</span><br />	
		</div>
		
		<div class="news-item">
			
				<p><strong>Subject:</strong> It takes 72 seconds to write an email response</p>
				<p></p>
				<p>Dear Pitching Professional,</p>
		   		<p>Did you know it takes the average person 72.3 seconds to write a<br />
				   response to an email?
				 <a href="http://mashable.com/2012/02/09/boomerang-email-infographic/">(http://mashable.com/2012/02/09/<br />boomerang-email-infographic/)</a> Further, the average person replies<br />
				   to 40 emails per day which totals to 40 minutes of time spent just</br >
				   composing email replies!
				</p>
				
				<p>Like you, I’ve done a lot of pitching especially via email.  And like<br />
				   you, I’ve had to face the grim reality of low single digit response<br />
				   rates.	
				</p>
				
				<p>These results always upset me.  Why?</p>
				
				<p>Because while I can handle replies of “not interested”, the<br />
				   deafening silence of hearing nothing unnerved me to my core.
				</p>
				
				<p>Being an entrepreneur, I decided to create a solution.  The result is<br />
				   a way for prospects to give quick feedback about an emailed pitch<br />
				   via a simple grading link.
				</p>
				
				<p>Just visit <a href="http://www.grademypitch.com">www.grademypitch.com</a> and start improving your pitches<br />
				   today.
				</p>	
				<p></p>
				<p>Sincerely Yours,</p>
				<p>John Lohavichan<br />
		   		   Founder<br />
		   		   Grademypitch.com<br />
		   		   jlohavichan@grademypitch.com</p>
		
				<p>What do you think of my pitch? Grade me at:<br />
				<a href="http://www.grademypitch.com/users/jlohavichan">www.grademypitch.com/users/jlohavichan</a></p>
			
			
			<p></p>
		</div>
		<div class="clear"></div>
		
		<p></p>
		<p>When a prospect clicks on your Grademypitch address, they will be taken to a grading and feedback page.</p><br />
		
		<h3>Step 3: Viewing your Grades</h3>
		<p>Just sign in at Grademypitch and click "Grades" to review your feedback.</p>
		
		<p></p>
		<h4>This information is also available in Help.</h4>
		<p></p>
		<p></p>
		<%= link_to "Continue to see your Grades page", current_user, :class => "button_new" %>
		
		
		<script type="text/javascript">
		  var clicky_goal = { id: "8546" };
		</script>

		<!-- your tracking code must go AFTER this goal code! -->
	