<h2>About</h2>

<div class="main-content">

	<p>
		Thanks for visiting!
	</p>
	
	<p>
		Grademypitch was created in response to a problem at another startup.
		Like you I was trying to get the attention of the press and bloggers.
		So I tried a variety of pitch tactics, really just guessing and shooting
		in the dark to see what would work.
	</p>

	<p>
		It was depressing when I didn't hear anything back at all -only the silence
		that comes from an email box empty of pitch responses.
	</p>

	<p>
		So I set out on a new journey, one where I would attempt to "defeat silence"
		and get real feedback from prospects. It would be quick and simple but provide
		real insight on how to make a better pitch.
	</p>

	<p>
		The result is Grademypitch.<br />
		<strong>Our mission is to help you get feedback to create - not the perfect pitch - but one that wins for you.</strong>
	</p>

	<p></p>
	
	<p>John Lohavichan 
	   <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
	   <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/lohavichan" data-format="hover"></script><br /> 
	   Founder<br />
	   <a href="http://www.grademypitch.com/users/jlohavichan">www.grademypitch.com/users/jlohavichan</a><br />		
	</p>
	
	
	<p>
		ps - We're in Beta test so you will find problems. Just 
		<a href="mailto:support@grademypitch.com">contact us </a>
		so we can fix them.
	</p>
</div>

<div class="clear"></div>