    <h2>Contact</h2>
    
    <!--main content-->
    <div class="main-content">
      <p>Integer malesuada felis at lacus. Morbi non dui sed libero venenatis tincidunt. Vivamus nisi augue, imperdiet ut, ornare quis, interdum vel, nisl. </p>
      <p>Please note that fields marked with an asterisk (<span class="alert"> * </span>) are required.</p>
      
      <form action="#" class="contact">

        <fieldset>
        
        <label><span class="alert">* </span>First Name:</label>
            <input name="FirstName" type="text" class="element" id="FirstName" />
        <div class="clear"></div>
            
            <label><span class="alert">* </span>Last Name:</label>
            <input name="LastName" type="text" class="element" id="LastName" />
            <div class="clear"></div>
                    
            <label>Phone:</label>
            <input name="Phone" type="text" class="element" id="Phone" />
        <div class="clear"></div>
            
            <label><span class="alert">* </span>Email:</label>
            <input name="Email" type="text" class="element" id="Email" />
        <div class="clear"></div>
            
            <label>Inquiry:</label>
            <textarea name="Inquiry" cols="5" rows="10" class="element large" id="Inquiry" ></textarea>
            <div class="clear"></div>
            
            <input name="Submit" type="button" class="button" value="Submit" />
        
        </fieldset>
      </form>
      
    </div>
    
    <!--side bar-->
    <div class="side-content">
        <div class="page-flip"><img src="assets/images/sample-photo2.jpg" alt="photo" width="185" height="120" class="side" />
        <h5>Grademypitch</h5>
            <p>
            <strong>Email:</strong> <a href="mailto:support@grademypitch.com">support@grademypitch.com</a></p>
        </div>
    </div>
    
    <div class="clear"></div>