<h1>This is the home page for Grademypitch</h1>
	<p>Place informative text here...
		
	</p>
	
	<% if current_user.blank? %>
		<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
	<% end %>
	