<% flash.now[:success] = "Thanks! Pitch Graded Successfully!" %>

<p></p>
<p></p>


<h3>Want to receive feedback on your own pitches?</h3>
<p></p>
<%= link_to "Sign up now!", signup_path, :class => "button_new" %>
