<footer>
	<div class="links">
      <ul class="foot">
	 		<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li>News</li>
			<li>Privacy Policy</li>
			<p></p>
			<p>Copyright 2012 - Grademypitch</p>
		</ul>
	<div class="clear"></div>
</footer>